.address-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.address-info {
  display: flex;
  flex-direction: column;
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.delete-icon {
  cursor: pointer;
}

.address-content {
  display: flex;
  flex-direction: column;
}

.text-xs {
  font-size: 14px;
}
