.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  min-width: 280px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-id {
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(110, 110, 110);
}

.product-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-stock {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-link {
  text-decoration: none;
}

.product-link button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
