.order-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: 10px;
  height: 200px;
  width: 270px;
}

.order-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-card p {
  font-size: 16px;
  margin-bottom: 5px;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}
